* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #fff;
    background-color: #333;
    overflow-x: hidden;
    height: 100%;
}

header {
    background-color: #111;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 10; /* Garantir que o header esteja acima de qualquer fundo */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.content {
    height: 200vh; /* Para que possamos rolar a página */
}

section {
    position: relative;
    height: 100vh;
    overflow: hidden; /* Impede que a imagem ultrapasse os limites da seção */
}


.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: -1; /* Coloca a imagem de fundo atrás de todo o conteúdo */
}

#campo-bg {
    background-image: url(imagens/campo.jpg);
}

#cidade-bg {
    background-image: url(imagens/cidade.jpg);
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 80%;
    z-index: 1; /* Garante que o texto fique acima da imagem */
}

h2 {
    font-size: 3em;
    font-family: 'Arial', sans-serif;
    margin-bottom: 20px;
}

p {
    font-size: 1.5em;
    line-height: 1.5;
}

footer {
    background-color: #111;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
